@charset "UFT-8"

*{
margin: 0px;
padding: 0px;
}
@font-face {
    font-family: Android;
    src: url(fontes/idroid.otf);
    font-weight: normal
}
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body{
background:#dfd1a0;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
margin: 0%;
}

header{
font-family: 'Bebas Neue';
background: #044dec;
color: white;
text-align: center;
padding: 15px;
}

header>h1{
font-size: 2.5em;
text-shadow: 2px 2px 0px rgba(26, 25, 25, 0.404);
margin-bottom: 20px;
    
}

header>p{
font-size: 1.2em;
max-width: 600px;
margin: auto; 
padding-right: 10px;
padding-left: 10px;
text-shadow: 2px 2px 0px rgba(26, 25, 25, 0.404);
margin-bottom: 20px;
}

nav{
background-color:  #0345d3;
padding: 2px;
box-shadow: 0px 7px 7px rgba(0, 0, 0, 0,363);
}

.menu >ul ,li {
display: inline-block;
margin-right: 10px;
padding-right: 1px;
}

.menu >ul ,li ,a{
text-decoration: none;
color: white;
border-radius: 5px;
font-weight: bolder;
transition-duration: 0.5s;
}

.mnu >ul ,li ,a:hover{
color: #135dff96;
}

main{
background: white;
min-width:300px;
max-width:1000px;
margin: auto;
margin-bottom: 30px;
padding: 20px;
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.445);
border-bottom-left-radius:10px; 
border-bottom-right-radius:10px;
}

main img{
width:100%;
}

main img.bugdroid{
margin: auto;
display: block;
max-width: 350px;
}

main p{
font-family:'Bebas Neue'; 
margin: 15px 0px ; 
text-align: justify;
text-indent: 30px;
line-height: 1.5em;
font-size: 1em;
}
main h2{
font-family: 'Android';
color: #135dff96;
font-size: 1.3em;
font-weight: normal;
}

aside{
background-color:#3b63b983 ;
padding: 10px;  
border-radius: 10px; 
box-shadow: 3px 3px 8px black;
}

aside>ul{
list-style-type: '\2714\00A0\00A0';
list-style-position: inside; 
columns: 2; 
box-shadow: 3px 3px 8px black;  
}
aside> ul >li{
margin: 0%;
padding: 0%;  
display: list-item; 
color: black;
font-family: 'Bebas Neue';
}

aside>h3{
background-color: #0345d3;
color: white;
padding: 10px;
margin: -10px -10px 0 -10px;
border-radius: 10px 10px 0px 0px;
}

div.video{
position: relative;
margin: 0px -20px 30px -20px;
padding-bottom: 59%;
}

div.video>iframe{
position: absolute;
top: 5%;
left: 5%;
width: 90%;
height: 90%;
}

footer{
background-color: #0050fc96;
color: white;
text-align: center;
font-size: 0.8em;
padding: 5px;
}